.summary_main_cont {
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.summary_main_cont > div:nth-child(2) {
  background-color: rgb(7, 4, 28);
  padding: 1rem;
  color: white;
}
.name {
  text-align: right;
  font-weight: 900;
  font-style: bold;
  font-size: 2.5rem;
  background-color: rgb(80, 119, 0);
}
.img_cont {
  /* width: 50%; */
  overflow: hidden;
}
.summary_img {
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}
.data_cont {
  height: 70vh;
  width: 60rem;
  transform: translateX(-5%) translateY(15%);
}
.small {
  font-size: 0.7rem;
  color: darkgrey;
}
.large {
  font-size: 1.3rem;
  color: darkgrey;
}
.extra_large {
  font-size: 2rem;
}
.button {
  font-size: 1.4rem;
  padding: 1rem;
  background-color: rgb(12, 242, 12);
}
.button:hover {
  background-color: lightgreen;
}

.form {
  position: absolute;
  display: none;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
}
.form_cont {
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  padding: 1.5rem;
}
.cancel {
  font-size: 2rem;
  text-align: right;
}
.cancel > span:hover {
  cursor: pointer;
}
.center_name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
